<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Extrator de Dados de Nota Fiscal</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>Extrator de Dados de Nota Fiscal</h1>
            <p>Extraia com facilidade dados de notas fiscais em PDF</p>
        </header>
        
        <main>
            {% block content %}
            {% endblock %}
        </main>
        
        <footer>
            <p>Universidade de Rio Verde - Juan Wykner Alves Gomes - 6º Periodo </p>
        </footer>
    </div>
    
    <script src="/static/js/script.js"></script>
</body>
</html>